pinecone_api_key = "pcsk_..."
pinecone_version = "0.0.0"

project            = "my-gcp-project-id"
region             = "us-central1"
availability_zones = ["us-central1-a", "us-central1-b"]
public_access_enabled = false
